.MessageInput {
  display: block;
  width: 100%;
  font-size: 20px;
  font-family: 'Roboto';
  border: none;
  outline: none;
  resize: none;
  white-space: pre-wrap;
}

.MessageInput::-webkit-scrollbar {
  display: none;
}