.SignUpForm {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.Input {
  border: 2px solid #000 !important;
  margin-bottom: 10px;
  width: 100%;
}

.Input:focus {
  border: 2px solid blue !important;
}